* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
header {
  background: linear-gradient(90deg, #ff6900, #ff005f);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-left: 10px;
}

.banks-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.banks-container > article > h3{
  color: #4e5c6b;
  font-size: 32px;
}

.banks-container > article > input {
  width: 340px;
  height: 40px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .banks-container article:first-child {
    display: none; /* Ocultar el primer article en dispositivos móviles */
  }
  .banks-container > article > input {
    width: 90%;
  }
  .banks-container > article{
    text-align: center;
    margin-top: 15px;
  }
}
/*body {
  background-color: #000;
  font-family: "Courier New", Courier, monospace;
}
h1,
section > h2,
section > article > h3 {
  color: #fff;
}

section > article {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul > li {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: #aeaeae;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 260px;
}

ul > li > img {
  border-radius: 50%;
  margin-right: 15px;
}

h2 {
  color: #fff;
  text-align: center;
}
input {
  width: 260px;
  height: 30px;
  border-radius: 8px;
}

li > article > button {
  margin-left: 50%;
  border-radius: 8px;
}
section > button{
  border-radius: 8px;
}*/
